.todo {
  .view {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    .btn-remove {
      width: 30px;
      height: 30px;
      font-size: 22px;
      color: #F78181;
      background-color: #FBF8EF;
      border: none;
      outline: none;
    }
  }

  .edit {
    display: none;
    padding: 9px 0;

    .edit-input {
      width: 100%;
      height: 32px;
      font-size: 22px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 20px;
      outline: none;
      background-color: #E6E6E6;
      border-radius: 10px;
      border: 1px solid #E6E6E6;
    }
  }

  &.editing {
    .view {
      display: none;
    }

    .edit {
      display: block;
    }
  }

}

